/* 
###############
Importing fonts
###############
*/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

/* 
##############
General styles
##############
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* box-sizing: border-box; */
}

body{
    background: #151515;
    /* min-height: 100vh; */
    justify-content: center;
}

#title{
    position: relative;
    z-index: 1;
    color: #cecece;
    font-size: 5em;
    text-align: center;
    cursor: default;
}

/* 
##########################
Styling the navigation bar
##########################
*/

.container{
    /* sizing the container for the nav bar */
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 20vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden; /*hides the shadow below*/
}

.nav_bar{
    /* creating the navigation bar */
    position: fixed;
    min-width: 400px;
    min-height: 80px;
    top: 85%;
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* repeated 6 times for the 6 icons within the nav bar */
    border-radius: 10px;
    padding: 0 15px;
    background: #000;
    box-shadow:
    0 6.7px 5.3px #0000001f,
    0 22.3px 17.9px #00000014,
    0 100px 80px #0000000a;
    overflow: hidden;
    color: #fff;
    z-index: 5;
}

.nav_bar ul{
    /* positioning the content within the nav bar */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_bar ul li{
    /* to remove the bullet point that automatically comes with a ul */
    list-style: none;
}

.nav_bar ul li a{
    /* minor visual changes */
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 20px;
}

.nav_bar ul li a i{
    /* adding lower opacity to the non-active icons in nav bar */
    color: #fff;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    transition: opacity 700ms ease; /* to give the opacity change a slight delay effect */

}

.nav_bar ul li a.active i{
    /* gives max opacity to the icon we are at in the nav bar*/
    opacity: 1;
}

.nav_bar .tubelight{
    /* Styling the tube light effect of navigation bar */
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translateX(-55%);
    width: 50px;
    height: 5px;
    border-radius: 5px;
    background: #fff;
    transition: left 400ms ease;
    z-index: 5;
}

.nav_bar .light-ray{
    /* Styling the spotlight effect of navigation bar */
    position: absolute;
    left: -30%;
    top: 5px;
    width: 160%;
    height: 80px;
    background: linear-gradient(to bottom,
    #ffffff4d -50%,
    #ffffff00 90%);
    clip-path: polygon(5% 100%, 25% 0px, 75% 0px ,95% 100%);
    pointer-events: none;
}

/* 
########################
Styling the profile card
########################
*/

.card-container{
    /* sizing the container for the profile card */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: -100vh;
}

.card{
    /* creating the profile card */
    position: relative;
    width: 450px;
    height: 200px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 35px 80px #0000001f;
    transition: 0.5s; /* to give the card a slight delay effect when expanding and shrinking back*/
}

.card:hover{
    /* expanding card after hover */
    height: 500px;
}

.profile-pic{
    /* styling the profile picture */
    position: absolute;
    width: 160px;
    height: 160px;
    left: 225px;
    top: -45px;
    transform: translate(-50%);
    background: #ffffff;
    border-radius: 100%;
    box-shadow: 0 15px 50px #0000001f;
    overflow: hidden;
    transition: 0.5s; /* to give the profile picture a slight delay effect expanding and shrinking with the box*/
}

.profile-pic img{
    /* to remove the border around the profile picture */
    width: 100%;
    height: 100%;
    border-radius: 100%;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
}

.card:hover .profile-pic{
    /* expanding profile picture after hover */
    width: 220px;
    height: 220px;
}

.card .profile-content{
    /* styling the content within the profile card */
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.card .profile-content .details{
    /* styling the details within the profile card */
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;

}

.card .profile-content .details h2{
    /* styling the name within the profile card */
    font-size: 1.5em;
    font-weight: 600;
    color: #000;
    line-height: 1.2em;
}

.card .profile-content .details h2 span{
    /* styling the job title / major / "what you do" within the profile card */
    font-size: 0.85em;
    font-weight: 450;
    opacity: 0.6;
    color: #000;
    display: block;
    margin-top: 5px;
}

.card .profile-content .details .more-info{
    /* styling the more info within the profile card */
    display: flex;
    justify-content: space-between;
    margin: 40px 0;  
}

.card .profile-content .details .more-info h3{
    /* styling the headers of more info within the profile card */
    font-size: 1em;
    color: #555;
    line-height: 1.5em;
    font-weight: 600;
}

.card .profile-content .details .edit-profile{
    display: flex;
    justify-content: center;
}

.card .profile-content .details .edit-profile button{
    cursor: pointer;
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    background: #0f5d69;
    color: #ffffff;
}