/* 
###############
Importing fonts
###############
*/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

/* 
##############
General styles
##############
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #151515;
    min-height: 1500px;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #151515, transparent);
    z-index: 3; 
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

/* 
###############
Specific styles
###############
*/

#title{
    position: relative;
    z-index: 1;
    color: #cecece;
    font-size: 10em;
    text-align: center;
    cursor: default;
}

#mountain{
    z-index: 2; 
    margin-top: 150px;
}

/* 
##########################
Styling the navigation bar
##########################
*/

.container{
    /* sizing the container for the nav bar */
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 20vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden; /*hides the shadow below*/
}

.nav_bar{
    position: fixed;
    top: -100%;
    transition: top 1s ease;
}

.nav_bar.scrolled{
    /* creating the navigation bar */
    position: fixed;
    min-width: 400px;
    min-height: 80px;
    top: 85%;
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* repeated 6 times for the 6 icons within the nav bar */
    border-radius: 10px;
    padding: 0 15px;
    background: #000;
    box-shadow:
    0 6.7px 5.3px #0000001f,
    0 22.3px 17.9px #00000014,
    0 100px 80px #0000000a;
    overflow: hidden;
    color: #fff;
    z-index: 5;
}

.nav_bar ul{
    /* positioning the content within the nav bar */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_bar ul li{
    /* to remove the bullet point that automatically comes with a ul */
    list-style: none;
}

.nav_bar ul li a{
    /* minor visual changes */
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 20px;
}

.nav_bar ul li a i{
    /* adding lower opacity to the non-active icons in nav bar */
    color: #fff;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    transition: opacity 700ms ease; /* to give the opacity change a slight delay effect */

}

.nav_bar ul li a.active i{
    /* gives max opacity to the icon we are at in the nav bar*/
    opacity: 1;
}

.nav_bar .tubelight{
    /* Styling the tube light effect of navigation bar */
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translateX(-55%);
    width: 50px;
    height: 5px;
    border-radius: 5px;
    background: #fff;
    transition: left 400ms ease;
    z-index: 5;
}

.nav_bar .light-ray{
    /* Styling the spotlight effect of navigation bar */
    position: absolute;
    left: -30%;
    top: 5px;
    width: 160%;
    height: 80px;
    background: linear-gradient(to bottom,
    #ffffff4d -50%,
    #ffffff00 90%);
    clip-path: polygon(5% 100%, 25% 0px, 75% 0px ,95% 100%);
    pointer-events: none;
}

/* 
######################
Styling the search bar
######################
*/

.search{
    position: fixed;
    top: -100%;
    transition: top 0s ease;
}

.search.scrolled{
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    background: transparent;
    width: 25px;
    height: 25px;
    padding: 10px;
    border: solid 7px #000000;
    outline: none;
    border-radius: 35px;
    transition: all 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #ffffff4d;
    z-index: 5;
}
  
.search::placeholder {
    color: #efefef;
    opacity: 0;
    transition: opacity 150ms ease-out;
}
  
.search:focus::placeholder {
    opacity: 1;
}
  
.search:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #ffffff;
}
  
.search:focus, .search:not(:placeholder-shown) {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #ffffff;
}

/*
######################
Styling the post cards
######################
 */

.post-container{
    /* sizing the container for the post card */
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: -100vh; */
    padding-top: 12%;
    z-index: 0;
}

.post{
    /* creating the post card */
    position: relative;
    width: 500px;
    height: 230px;
    background:  linear-gradient(to right bottom, #000000, #000000, #222222, #707070, #ffffff);
    border-radius: 20px;
    box-shadow: 0 35px 80px #ffffff;
    transition: 0.5s; /* to give the card a slight delay effect when expanding and shrinking back*/
    z-index: 0;
    cursor: default;
}

.post:hover{
    /* expanding card after hover */
    height: 300px;
    box-shadow: 0 35px 80px #134a57;
}

.user-pic{
    /* styling the user's profile picture */
    position: absolute;
    width: 100px;
    height: 100px;
    left: 30px; /* to center the profile picture */
    top: -25px; /* to give it that out of box look */
    transform: translate(-50%); 
    background: #ffffff;
    border-radius: 100%;
    box-shadow: 0 15px 50px #ffffff30;
    overflow: hidden;
    transition: 0.5s; /* to give the profile picture a slight delay effect expanding and shrinking with the box*/
}

.user-pic img{
    /* to remove the border around the profile picture */
    width: 100%;
    height: 100%;
    border-radius: 100%;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
}

.post:hover .user-pic{
    /* expanding profile picture after hover */
    width: 130px;
    height: 130px;
    box-shadow: 0 15px 50px #134a57;
}

.post .post-content{
    /* styling the content within the post card */
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden; /* to hide all content below the unzoomed profile box*/
}

.post .post-content .post-details{
    /* styling the details within the post card */
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(100px);
}

.post:hover .post-content .post-details{
    /* for the content details to appear after expanding */
    transform: translateY(20px);
}

.post .post-content .post-details h2{
    /* styling the name within the post card */
    font-size: 1.4em;
    font-weight: 600;
    color: rgb(255, 255, 255);
    line-height: 1.2em;
}

.post .post-content .post-details h2 span{
    /* styling the skill to learn, offer and time within the post card */
    font-size: 0.7em;
    font-weight: 450;
    opacity: 0.6;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.post .post-content .post-details .post-info{
    /* styling the post info within the post card */
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.post .post-content .post-details .post-info h3{
    /* styling the headers of post info within the post card */
    font-size: 1em;
    color: rgb(255, 255, 255);
    line-height: 1.5em;
    font-weight: 400;
}

.post .post-content .post-details .send-message{
    display: flex;
    justify-content: center;
}

.post .post-content .post-details .send-message button{
    cursor: pointer;
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    background-image: linear-gradient(to left bottom, #84ddf1, #134a57, #84ddf1);
    color: #ffffff;
    box-shadow: 0 8px 24px 0 rgba(255, 255, 255, 0.2);
}

.post .post-content .post-details .send-message button:hover{
    background-image: linear-gradient(to left bottom, #134a57, #84ddf1, #134a57);
    color: #000000;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.2);
}
